<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Backup Service</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
  <div class="jumbotron text-center">
    <h1>Systeme sauvgarde</h1>
  </div>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis neque vitae nunc tincidunt feugiat sed consequat justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ullamcorper euismod enim, eu pretium diam ultricies in. Integer nec tortor ut nibh pellentesque viverra vel ac mauris. Integer semper lacus vel ipsum aliquet sagittis. Quisque hendrerit nulla vel nulla molestie condimentum. In hac habitasse platea dictumst.</p>

    <h2>Connecter</h2>
    <div class="well">
      <b>Se connecter: </b><a th:href="@{/index}">connexion</a>
    </div>
  </div>
</div>


</body>
</html>